<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="glory.tebaklaguanime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--
            <provider android:authorities="com.facebook.app.FacebookContentProvider480851635702142"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="Tebak Lagu Anime"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelActivity"
            android:label="Pilih Level"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GameActivity"
            android:label="Game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultActivity"
            android:label="Result"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <!--
      Send
         action required to display activity in share list
                -->
                <category android:name="android.intent.category.DEFAULT" />
                <!--           Make activity default to launch -->
                <!-- Mime type i.e. what can be shared with this activity only image and text -->
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AchievementActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WolfActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Wolf"></activity>
    </application>

</manifest>